/* * {
  outline: 1px solid #f00 !important; // Turn on to see layout and overflowing containers better
} */

body {
    background-image: linear-gradient(#22333d, #000);
    color: rgb(200 200 200);
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;

    .todays-date{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.input-new-todo{
    display: flex;
    justify-content: center;
    
    .add-todo-input{
        width: 70%;
    }

    .add-todo-btn{
        width: 20%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todo-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 90vw;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2d2d2d;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgb(117 117 117);

    &.justintime{
        border: 1px solid rgb(255 136 0);
        box-shadow: 2px 2px 5px rgb(255 136 0);
    }

    &.overdue{
        border: 1px solid red;
        box-shadow: 2px 2px 5px red;
    }

    &.completed{
        text-decoration: line-through;
        background-color: #606060;
    }


    .icons-duedate{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .delete-button{
        height: 35px;
        width: 35px;
        border: none;
        color: rgb(200 200 200);
        background-color: transparent;
    }

    .checkbox,
    .trashcan{
        font-size: 1.5rem;

        &.completed{
            color: rgb(154 255 154);
        }
    }
}